
body {
    background-color:#c3f0f1; 
    
}

body img{
    height:300px;
    width: 80%;
}

aside{
    float:left;
    background-color:#b89999;
    width: 20%;
    padding: 2,5%;
    height: 21cm;
    
    border-right: 5px solid #4d4d4d;
    margin-top: -20px;
}  

aside img{
    width: 100%;
    float:left;
    margin-top: -40px;
}

aside .logo{
    font-size: 25px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    color: rgb(224, 37, 37);
    top: -5px;
}

main.front h6{
    width: 100px;	height: 100px;
}

main.col-4{
    margin-left: 100px;}


