{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Courses for record {% endblock %}</h1>
    <div class=".content">
        {% for course in courses %}
            <div class="Courses">
                <p><b>#{{ course.id }}</b></p>
                <b>
                 <p class="name">
                    <a href="{{ url_for('courses', id=course.id)}}">
                        {{ course.courses_name }}
                    </a>   
                </p>
                    </a>
                </b>
            </div>
        {% endfor %}
    </div>
{% endblock %}