{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Information about the record {% endblock %}</h1>
    <div class="content">
        {% for student in students %}
            <div class="student">
                <p><b>#{{ student.id }}</b></p>
                <b>
                    <p class="name">{{ student.firstname }} {{ student.lastname }}</p>
                </b>
                <p><b>Number of courses:</b>{{ student.students_id }}</p>
                
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}